body {
  background-color: #ffffff;
  color: #17194c;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #17194c;
  text-shadow: 3px 3px 2px #ffffff;
  margin: 0;
  padding: 50px 10px 20px 10px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 20px;
  color: #ffffff;
  background-color: #17194c;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
}

.iniad {
  color:#ffffff;
  text-shadow: 2px 2px 2px #17194c;
}


.time {
  font-weight: bold;
  color: #000000;
  font-size: 30px;
}

#header {
  background-color : #17194c;
  padding : 5px 5px 5px 5px;
  height : 35px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#header img {
  height : 100%;
  
}

p {
  text-align: center;
}

.map {
  margin-left: 40px;
}

#campus {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 100%;
}

.twitter-timeline {
  margin-left: 20px;
}

.box {
  position: relative;
}