body {
  background-color: #333333;
  color: #ffffff;
}


h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  text-shadow: 3px 3px 2px #ffffff;
  margin: 0;
  padding: 50px 10px 20px 10px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 24px;
  color: #333333;
  background-color: #B2B2B2;
  border-bottom: solid 1px #333333;
  padding-left: 5px;
  text-align: center;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  background-color: #B2B2B2;
  border-left: solid 4px #17194c;
}

p {
  text-align: center;
  font-size: 15px;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #708090;
  display: flex;
  justify-content: space-around;
}

.iniad {
  color:#ffffff;
  text-shadow: 2px 2px 1px #17194c;
}

.time {
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  margin-right: 5px;
}

#header {
  background-color : #17194c;
  padding : 5px 5px 5px 5px;
  height : 35px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#header img {
  height : 100%;  
}

.map {
  text-align: center;
}

#campus {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 100%;
}

.twitter-timeline {
  margin: auto;
}

.box {
  position: relative;
}

#id1-1 {
  display: flex;
  justify-content: center;
}

#id4-1 {
  display: flex;
  justify-content: right;
  color:#ffffff;
  background-color : #17194c;
}

a{
  text-decoration: none;
}

a.visited{
  color:#ffffff;
}